<ion-content div class="ion-padding">
  <ion-label class="credits">Credits</ion-label>
  <ion-list>
    <ion-item>Ionic: Mobile App Platform</ion-item>
    <ion-item>HowlerJS: Audio Library</ion-item>
    <ion-item>Orange Free Sounds: Source of audios</ion-item>
    <ion-item>Pixabay: Source of images</ion-item>
  </ion-list>
  <ion-button expand='block' (click)="goToHomePage();">Home</ion-button>
</ion-content>