ion-content{
    .playing {
        font-size: 2em;
        font-weight: bold;
    }
    div{
        margin-top: 1em;
        height: 25%;
        background-size: cover;
        margin-bottom: 0.5em;
    }
}